@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;

}
html, body{
    height: 100vh;
    background-color: rgb(226, 224, 224);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}
